@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Underdog", system-ui;
  
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  
  min-height: 100vh;
  display: flex;
  color:white;

}
.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
